@import "./components/variables";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jost";
}
html{
  background-color: $background-color;
}

.container{
  display: flex;
  margin: 20px;
  justify-content: center;
}
.top__container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin: 50px;

}
h1{
  color: $title-color;
  font-size: 48px;
}
p, .placeholder{
  color: $font-color;
  font-size: 16px;
}
.nav__icon{
  font-size: 24px;
  color: $title-color;
  margin-left: 20px;
}

.input-todo{
  background-color: $input-color;
  border: 3px dashed $font-color;
  width: 45%;
}
#input{
  border: none;
  background-color: $input-color;
  color: $title-color;
  font-size: 16px;
  padding: 16px;
  width:  80%;
}

.resetButton{
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6b3838;
  font-size: 16px;
  font-weight: bold;
  padding: 30px;
  margin-right: 20px;
  border-radius: 10px;
  color: $title-color;
}
.resetButton:hover{
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}
.fa-plus-circle, .fa-pen{
  color: $button-color;
  background: $input-color;
  border: none;
  justify-content: center;
}

.tasks{
  font-size: 16px;
  color: $title-color;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: $input-color;
  font-size: 16px;
  color: $title-color;
  list-style: none;
}
#check {
  border-color: $button-color;
  background: $input-color;
  font-size: 20px;
}

ul li.checkbox {
  content: '';
  font-size: 18px;
  border-color: $input-color;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}