body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jost";
}

html {
  background-color: #232229;
}

.container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.top__container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

h1 {
  color: #ffffff;
  font-size: 48px;
}

p, .placeholder {
  color: #6c6a7c;
  font-size: 16px;
}

.nav__icon {
  font-size: 24px;
  color: #ffffff;
  margin-left: 20px;
}

.input-todo {
  background-color: #2b2a33;
  border: 3px dashed #6c6a7c;
  width: 45%;
}

#input {
  border: none;
  background-color: #2b2a33;
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
  width: 80%;
}

.plusButton {
  border-radius: 40%;
  border-color: #e58181;
  color: #e58181;
  font-size: x-large;
}

i {
  color: #e58181;
}

.resetButton {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6b3838;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  margin-right: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.resetButton:hover {
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}

.fa-plus-circle, .fa-pen {
  color: #e58181;
  background: #2b2a33;
  border: none;
  justify-content: center;
}

.tasks {
  font-size: 16px;
  color: #ffffff;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #2b2a33;
  font-size: 16px;
  color: #ffffff;
  list-style: none;
}

#check {
  border-color: #e58181;
  background: #2b2a33;
  font-size: 20px;
}

ul li.checkbox {
  content: "";
  font-size: 18px;
  border-color: #2b2a33;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}